/* Цвет основного текста color: #757575; */
/* Вторичный цвет текста color: #212121; */
/* Акцент color: #2196F3; */
/* Цвет фона вторичный background: #F5F4FA;*/
/*Основной шрифт 'Roboto', sans-serif;*/
/*Вторичный шрифт 'Raleway', sans-serif;*/

:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --secondary-background-color: #F5F4FA;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

